@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    color:#ffffff;
    background-color:#140e3c;
}

header {
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header svg {
    max-height : 300px;
}

h1 {
    font-size:32px;
    margin: 32px 0 0 0 ;
}

section.house {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    min-height:100vh;
}

section.house svg g#scene {
    opacity:1;
    transition: opacity 0.25s;
}

section.house svg:hover g#scene {
    opacity: 0.25;
}

div.label {
    background-color:#ffffff;
    color:#140e3c;
    padding: 8px 16px 8px 16px;

    position:fixed;
    top:45px;
    left: 300px;
    opacity: 0;

    pointer-events: none;
}

div.label.is-visible {
    opacity:1;
}